/llmsrc
.DS_Store

sync_mic.sh
.env.payments.local
*.zip

/xingjie_slides
/local_voice
transcribe.sh
/local_voice_backup
/xhs_designs
/xhsnote
/0325_event_slides
/0325_event_slides_vercel
key20260312191515/
rsa-privatekey-alipay.txt
.playwright-mcp/
/videos